.school {
  padding: 1rem;
}
.schoolTitle {
  font-size: 1.2rem;
  font-family: var(--condensedFont);
  text-align: center;
  margin: 1rem 0;
}
.schoolCode {
  padding: 0.3rem;
  color: var(--grey600);
  font-weight: 800;
}
.schoolName {
  color: var(--grey900);
}
.department {
  margin: 0.3rem 0;
}
.departmentCode {
  color: var(--grey600);
  font-family: var(--condensedFont);
  font-weight: 700;
}
/* .departmentName {
} */
